{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Displaycart{% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %}
    

{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}


{% block content %}
<div class="container">
  <h2 class="text-center text-capitalize latest">{{profile.first_name}}'s Shopcart</h2>
  <div class="table-responsive table-box">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">delete</th>
          <th scope="col">item</th>
          <th scope="col">image</th>
          <th scope="col">quantity</th>
          <th scope="col">update</th>
          <th scope="col">price</th>
          <th scope="col">amount</th>
        </tr>
      </thead>
      <tbody>
        
        {% if trolley %}
          {% for items in trolley%}
            <tr>
              <th scope="row">
                <form action="{% url 'deleteitem' %}" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="item_id" value="{{items.id}}">
                  <button type="submit" onclick="return confirm('Are you sure you want to delete this item from your cart!...')"><i class="fas fa-trash-alt"></i></th></button> 
                </form>
                <td>{{items.product.title_r}}</td>  
                <td><img src="{{items.product.img_r.url}}" width="50px" height="50px" alt=""></td>
                <td>{{items.quantity}}</td>
                <!-- <td><input type="number" width="20px" height="20px"></td> -->
                <td>
                <form action="{% url 'change' %}" method="POST">
                {% csrf_token %}
                     <input type="hidden" name="item_id" value="{{items.id}}">
                     <input type="number" name="quant" min="{{items.min_quantity}}"max="{{items.max_quantity}}" width="20px" height="10px">
                      <button type="submit"
                      onclick="return confirm('Are you sure you want to modify this item from your cart')"
                       class="btn"><i class="fas fa-check-circle"></i></button>
                </form>
                </td>
                <td>${{items.price|floatformat:2|intcomma}}</td>
                <td>${{items.amount|floatformat:2|intcomma}}</td>
              </th>
            </tr>  
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div class="table">
      <table class="table">
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>vat(7.5%): {{vat|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal:{{subtotal|floatformat:2|intcomma}} </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: {{total|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{% url 'checkout' %}" class="btn btn-dark">Checkout</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  {% endblock content %}

{% block team %} {% include 'team.html' %} {% endblock team %}
    

    
    