{% load static %}

<div class="container mt-5 mb-5 text-capitalize">
  <h2 class="text-center text-capitalize latest">Our team</h2>
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
      <div class="card-body">
        <img src="{% static '' %}image/luis-felipe-lins-LG88A2XgIXY-unsplash.jpg" class="card-img-top rounded-circle imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team: cyber dev2.</h5>
          <p class="card-text">portfolio: Jnr . dev.</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>

    <div class="col-8 col-sm-6 col-md-4">
      <div class="card border-transparent fate">
        <img src="{% static '' %}image/andres-jasso-PqbL_mxmaUE-unsplash.jpg" class="card-img-top rounded-pill imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team: cyber dev2.</h5>
          <p class="card-text">portfolio: Jnr . dev.</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4">
      <div class="card border-transparent fate">
        <img src="{% static '' %}image/imani-bahati-LxVxPA1LOVM-unsplash.jpg" class="card-img-top rounded-top imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team: cyber dev2.</h5>
          <p class="card-text">portfolio: Jnr . dev.</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>
  </div>
</div>